<html>
<body style="font-family:Calibri">

<p>Olá, ${name}! Sua senha foi recuperada para seu usuário: ${username}</p>

<p>Sua nova senha é: ${password}</p>

<p>Quaisquer problemas entre em contato conosco!</p>

<p><strong>SGE</strong></p>

</body>
</html>